<% include partials/header %>
<% include partials/nav %>
    <div class="container">
        <div class="image--container">
            <% randCatImages.forEach((randCatImages) => { %>
                <div class="image--container__inner">
                    <img class="image--resize" src="<%=randCatImages.url%>" alt="<%=randCatImages.breed%>"> 
                <div class="image--source">
                    <div><a href="<%=randCatImages.url%>" target="_blank" rel="noopener noreferrer">Source</a></div>
                </div>
                </div>
                <div class="image--container__flex">
                    <div><button class="button--back">Back</button></div>
                    <div><a class="button--next" href="<%=nextCatImages.url%>">Next</a></div>
                </div>
            <% }); %>
        </div>
        <div class="facts--container">
            <div><h3>Cat Fact :</h3></div>
            <div><p><%=catFacts%></p></div>
        </div>
    </div>
<script>
    const dropDown = document.querySelector('.nav--container__dropdown');
    const dropDownContent = document.getElementById('nav--dropdown__content');
    dropDown.addEventListener('click', () => {
        dropDownContent.classList.toggle('nav--container__social--active');
    });
</script>
<script src="/js/snippets.js"></script>
<% include partials/headerEnd %>