<% include partials/header %>
    <div class="wrapper">
        <h1>HELLO FROM THE LANDING PAGE</h1>
        <div class="image--container">
            <% randCatImages.forEach((randCatImages) => { %>
                <img src="<%=randCatImages.url%>" alt="<%=randCatImages.breed%>">
                <p><a href="<%=randCatImages.url%>" target="_blank" rel="noopener noreferrer">Source</a></p>
                <p><a href="<%=descCatImages.url%>">Next!</a></p>
                <p><a href="#">Previous!</a></p> <!--No idea how to do this yet-->
            <% }); %>
            <p><%=catFacts%></p>
        </div>
    </div>
<% include partials/headerEnd %>
<% include partials/footer %>